/* colors */
* {
background:       #02090FFF; 
background-alt:   #02090FFF;
foreground:       #ecffffFF;
selected:         #3B6A85FF;
highlight:        #ecffffFF;
urgent:           #3B6A85FF;
on:               #456677FF;
off:              #456677FF;
}
