/* colors */
* {
background:       #091132FF; 
background-alt:   #091132FF;
foreground:       #e6ffffFF;
selected:         #1F6397FF;
highlight:        #e6ffffFF;
urgent:           #1F6397FF;
on:               #5389B6FF;
off:              #5389B6FF;
}
