/* colors */
* {
background:       #061617FF; 
background-alt:   #061617FF;
foreground:       #f5c59dFF;
selected:         #E25133FF;
highlight:        #f5c59dFF;
urgent:           #E25133FF;
on:               #8F3C2EFF;
off:              #8F3C2EFF;
}
