/* colors */
* {
background:       #121113FF; 
background-alt:   #121113FF;
foreground:       #fcffffFF;
selected:         #5C7A84FF;
highlight:        #fcffffFF;
urgent:           #5C7A84FF;
on:               #AD5F48FF;
off:              #AD5F48FF;
}
